.jumbotron {
  border: 1px solid black;
  background-color: #b0e0e6;
  padding: 30px;
  font-family: karla;
}

body {
  background-color: #537da3;
}

#nba {
  display: flex;
  justify-content: center;
  width: 400px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

#quiz {
  background-color: #537da3;
  padding: 10px;
  font-size: 20px;
  font-family: karla;
}

fieldset {
  border: 1px solid black;
  font-size: 15px;
  font-family: rubik;
  background: #b0e0e6;
  width: 700px;
  margin-left: auto;
  margin-right: auto;
}

.choice {
  border: 20px solid white;
  padding: 10px;
  border-radius: 4px;
  cursor: pointer;
}

.choice:hover,
.choice:active {
  background-color: #7dae94;
  color: white;
  border: 0.1em #7dae94 solid;
}

form {
  text-align: center;
}

.container {
  text-align: center;
  width: 100%;
  position: relative;
}

.mainBox {
  background: #b0e0e6;
  width: 800px;
  height: 500px;
}

.mainBox > h1 {
  font-family: Karla;
  color: black;
  font-size: 70px;
  text-align: center;
}

#time{
  font-size: 20px;
  font-family: 'Rubik', sans-serif;
  color: white;
}

.startButton {
  display: block;
  margin: auto;
  margin-top: 20px;
}

.timeBox {
  background: #f41d1d;
}

.quizPicture {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

button {
  display: inline-block;
  border: none;
  padding: 0.5rem 1rem;
  margin: 0;
  text-decoration: none;
  background: #8EACB1;
  color: #ffffff;
  font-family: sans-serif;
  font-size: 1rem;
  cursor: pointer;
  text-align: center;
  transition: background 250ms ease-in-out, 
              transform 150ms ease;
  -webkit-appearance: none;
  -moz-appearance: none;
  margin-bottom: 20px;
  margin-top: auto;
}

button:hover,
button:focus {
  background: gray;
}

button:focus {
  outline: 1px solid #fff;
  outline-offset: -4px;
}

button:active {
  transform: scale(0.99);
}

/* 

@media screen and (max-width: 320px) {
  .mainBox {
    width: 100%;
  }

  .quizPicture {
    width: 200px;
    
  }

}

@media screen and (min-width: 320px) and (max-width: 880px) {
  #quiz {
    width: 29.5em;
    height: 31.5em;
    padding-top: 2.6em;
    padding-bottom: 2.6em;
  }

  .mainBox {
    width: 85%;
    height: 98%;
  }

}

@media screen and (min-width: 881px) {  
  .header li {
    margin: 1em;
    font-size: 1.3em;
  }

  #quiz {
    width: 35em;
    height: 38em;
  }
}  */